/* Global styles */
:root {
    --strng-cyan: rgb(38, 192, 171);
    --dk-cyan: rgb(0, 73, 77);
    --dk-gray-cyan: rgb(94, 122, 125);
    --gray-cyan: rgb(127, 156, 159);
    --lt-gray-cyan: rgb(197, 228, 231);
    --v-lt-gray-cyan: rgb(244, 250, 250);
    --white: rgb(255, 255, 255);
}

body, h1, h2, h3, h4, h5, h6, p,
dl, dd, blockquote, figure {
    margin: 0;
}

body {
    font-family: "Space Mono";
    font-size: 1.5rem;
    color: var(--dk-cyan);
}
  
/* Mobile styles */
main {
    display: flex;
    flex-direction: column;
    background: var(--lt-gray-cyan);
}

.logo {
    width: 5.5rem;
    align-self: center;
    margin: 3rem 0;
}

.app {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    gap: 2rem;
    padding: 2rem;
    background: var(--white);
}

.bill {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.input-title {
    font-size: 1rem;
    color: var(--dk-gray-cyan);
}

.icon-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid transparent;
    box-sizing: border-box;
    gap: 2rem;
    align-items: center;
    padding: .25rem 1rem;
    border-radius: .5rem;
    background-color: var(--v-lt-gray-cyan);
}

.icon {
    width: auto;
    height: 1rem;
}

.input {
    border: none;
    background: none;
    cursor: pointer;
    text-align: right;
    outline: none;
    font-family: "Space Mono";
    width: 100%;
    font-size: 1.5rem;
    color: var(--dk-cyan);
}

.icon-input:hover {
    border: 2px solid var(--strng-cyan);
}

.input::placeholder {
    color: var(--dk-gray-cyan);
}

.input.custom {
    box-sizing: border-box;
    background-color: var(--v-lt-gray-cyan);
    border: 2px solid transparent;
    padding-right: 1rem;
    border-radius: .25rem;
}

.input.custom:hover {
    border: 2px solid var(--strng-cyan);
}

.tip {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tip-amount-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.btn {
    background-color: var(--dk-cyan);
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    padding: .35rem;

    font-family: "Space Mono";
    font-size: 1.5rem;
    color: var(--white);
}

.btn:hover {
    background-color: var(--lt-gray-cyan);
    color: var(--dk-cyan);
}

.btn:active {
    background-color: var(--strng-cyan);
}

.number-of-people {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.tip-calc {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 1.5rem;
    background-color: var(--dk-cyan);
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

.tip-amount-text {
    display: flex;
    flex-direction: column;
}

.tip-title {
    color: var(--white);
    font-size: 1rem;
}

.tip-text {
    color: var(--gray-cyan);
    font-size: .835rem;
}

.cost-text {
    color: var(--strng-cyan);
    font-size: 2rem;
    text-align: right;
}

.btn.inverse {
    background-color: var(--strng-cyan);
    text-transform: uppercase;
    color: var(--dk-cyan);
    font-size: 1.25rem;
    padding: .5rem;
}

.btn.inverse:hover {
    background-color: var(--lt-gray-cyan);
}

.btn.inverse:active {
    background-color: var(--v-lt-gray-cyan);
}

.active {
    background-color: var(--strng-cyan);
    color: var(--dk-cyan);
}







